In [2]:
import gdown
url='https://drive.google.com/uc?id=1VpY5gjx_hcpWbk1KIvye5K5yjU0vUEpk'
filename='pt_book_fix.csv'
gdown.download(url, filename, quiet = False)

Downloading...
From: https://drive.google.com/uc?id=1VpY5gjx_hcpWbk1KIvye5K5yjU0vUEpk
To: /content/pt_book_fix.csv
100%|██████████| 28.3M/28.3M [00:00<00:00, 57.5MB/s]

'pt_book_fix.csv'

In [4]:
import pandas as pd

pt_book=pd.read_csv(filename, low_memory=False)
pt_book.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,세이노의 가르침,세이노 지음,데이원,2023,9.79117E+12,NaN,0,NaN,199.1,1,0,2023-03-30
1,2,서울대생의 비밀과외,"소린TV,안소린 [공]지음",다산에듀,2023,9.79113E+12,NaN,1,NaN,373.7,1,0,2023-03-30
2,3,(현직 고등학교 선생님들이 직접 고른) 생기부 필독서 100,주경아 외 지음,센시오,2023,9.79117E+12,NaN,1,NaN,376.6,1,0,2023-03-30
3,4,당연하게도 나는 너를,이꽃님 지음,우리학교,2023,9.79117E+12,NaN,4,NaN,813.7,1,0,2023-03-30
4,5,고요한 우연,김수빈 지음,문학동네,2023,9.78895E+12,NaN,0,NaN,813.7,1,0,2023-03-30

In [5]:
pt_book.describe()

,번호,발행년도,세트 ISBN,도서권수,대출건수
count,207142.000000,207142.000000,1.598900e+04,207142.000000,207142.000000
mean,112296.234612,2008.155975,9.786803e+12,1.027995,12.922053
std,65441.386110,9.824295,1.465370e+11,0.194382,21.408999
min,1.000000,0.000000,8.984980e+10,1.000000,0.000000
25%,55494.250000,2003.000000,9.788950e+12,1.000000,2.000000
50%,113103.500000,2008.000000,9.788960e+12,1.000000,6.000000
75%,169108.750000,2013.000000,9.788990e+12,1.000000,15.000000
max,227834.000000,3012.000000,9.791200e+12,13.000000,1428.000000

In [6]:
pt_book.describe(percentiles=(0.25,0.75))

,번호,발행년도,세트 ISBN,도서권수,대출건수
count,207142.000000,207142.000000,1.598900e+04,207142.000000,207142.000000
mean,112296.234612,2008.155975,9.786803e+12,1.027995,12.922053
std,65441.386110,9.824295,1.465370e+11,0.194382,21.408999
min,1.000000,0.000000,8.984980e+10,1.000000,0.000000
25%,55494.250000,2003.000000,9.788950e+12,1.000000,2.000000
50%,113103.500000,2008.000000,9.788960e+12,1.000000,6.000000
75%,169108.750000,2013.000000,9.788990e+12,1.000000,15.000000
max,227834.000000,3012.000000,9.791200e+12,13.000000,1428.000000

In [7]:
pt_book.describe(include='object')

,도서명,저자,출판사,ISBN,부가기호,권,주제분류번호,등록일자
count,207142,207142,207142,207142,158938,49819,206211,207142
unique,180465,139952,13468,244,15,662,8131,4504
top,(KBS)역사스페셜,편집부 편,웅진씽크빅,9.78899E+12,0,1,813.6,1998-07-11
freq,100,253,3056,38875,74017,7929,9583,3641

In [8]:
pt_book['대출건수'].mean()

12.922053470566086

In [9]:
pt_book['대출건수'].median()

6.0

In [10]:
pt_book['대출건수'].drop_duplicates().median()

161.5

In [12]:
pt_book['대출건수'].min()

0

In [14]:
pt_book['대출건수'].max()

1428

In [17]:
pt_book['대출건수'].quantile(0.72)
# interpolation='nearest'

14

In [19]:
borrow_flag=pt_book['대출건수']<5
borrow_flag.mean()

0.42910177559355417

In [21]:
pt_book['대출건수'].var()

458.34524056239843

In [20]:
pt_book['대출건수'].std()

21.408999055593384

In [23]:
pt_book.mean(numeric_only=True)

번호         1.122962e+05
발행년도       2.008156e+03
세트 ISBN    9.786803e+12
도서권수       1.027995e+00
대출건수       1.292205e+01
dtype: float64

In [24]:
pt_book.loc[:,'도서명':].mode()

,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,(KBS)역사스페셜,편집부 편,웅진씽크빅,2003,9.78899E+12,9.788960e+12,0,1,813.6,1,0,1998-07-11